
body{
    ba
}
.container{
    background-color: silver;
}
aside{
    background-color: rgb(216, 216, 216);
}
footer{
    background-color: blueviolet
}

#columnaone{
    background-color: silver;

}
.img-fluid{
    height: 200px !important;
    margin: 5%
}
h1{
    text-align: center;
}
nav{
    background-color: aqua;
}
table{
    margin-top: 10%;
}
.NavFixed {
    position: fixed;
    top: 0;
    width: 89.99%;
    background: rgba(41, 38, 38, 0.973);
    color: white !important;
    
    border: none;
    box-shadow:  2px 2px 1px #999;
  }
  .NavFixed a{
    color: white !important;
  } 