*{
    margin: 0 ;
    padding: 0 ;
}
body{
  background-image: url("../Img/Android.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.container{
    background-color: rgba(15, 9, 9, 0.178);
}
aside{
    background-color: rgba(15, 9, 9, 0.295);
}
.imagen{
    height: 300px !important;
    width: 400px;
    margin: 0 auto;
}
.carrucel{
    height: 400px !important;
    width: 100%;
}
  P{
      text-align: justify;
      margin: 4%;
      color:white;
      font-size: 110%;

  }
  li{
      color: white;
  }
  input{
      width: 25%;
      margin-top: 1%;
  }
h1{
    
    text-align: center;
    font-family: fantasy;
    text-align: center;
    color: white;

}
h2{
      color: white;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
  }
h5{
    color: white;
    margin: 2%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
}
label{
    color: white;
}
form{
    margin-left: 3%;
}
.SMARPHONE1{
    height: 320px !important;
    width: 60%;
}
.SMARPHONE2{
    height: 320px !important;
    width: 60%;
}
.SMARHONE3{
    height: 320px !important;
    width: 60%;
    margin-left: 4%;

}

#g7{
    text-align: center;
    border-radius: 15px;
    width: 95%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.281);
    margin-top: 3%;
    padding: 3%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    height: 100px;
    line-height: 100px;
}
#Samsung{
    background-color: rgba(0, 0, 0, 0.267);
    padding: 2%;
    text-align: center;
    width: 98%;
    margin: 0 auto;
    font-family: fantasy;
    text-align: center;
    color: white;

}
#xiaomi{
    background-color: rgba(0, 0, 0, 0.267);
    padding: 2%;
    text-align: center;
    width: 98%;
    margin: 0 auto;
    font-family: fantasy;
    text-align: center;
    color: white;
}
#ONE6{
    background-color: rgba(0, 0, 0, 0.267);
    padding: 2%;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 25%;
    font-family: fantasy;
    text-align: center;
    color: white;
}
#contactos{
    background-color: rgba(0, 0, 0, 0.267);
    padding: 2%;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 25%;
    font-family: fantasy;
    text-align: center;
    color: white;
}
.barra{
    margin-left: 10px;
    width: 140px;
    height: 50px;
}
.tex-nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.lista_samsung{
    text-align: justify;
    margin: 10%;
    color:white;
    font-size: 80%;

}
.lista_xiomi{
    text-align: justify;
    margin: 10%;
    color:white;
    font-size: 110%;
}
.lista_one{
    text-align: justify;
    margin: 10%;
    color:white;
    font-size: 110%;
}
.link{
  margin-top: 10% ; 
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
input{
    background-color: black;
}